@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');

/* Main page */

* {
    font-family: 'Google Sans Flex', sans-serif;
}

body {
    padding: 0 2em 0 2em;
}

a {
    text-decoration: none;
    color: inherit;
}

.colored-link {
    color: #1a73e8;
}

.projects-overview {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.project-card {
    background-color: white;
    border-radius: 8px;
    padding: 1em;
    margin: 1em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.project-card:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.project-card-header {
    display: flex;
    align-items: center;
    gap: 10px;
}